<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />
        <title>Jonn's Hindsights: $title$</title>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [ ['$$','$$'], ["\\(","\\)"] ],
              processEscapes: true
            }
          });
        </script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="icon" type="image/png" href="/favicon.ico" />
    </head>
    <body>
        <div id="everything">
            <div id="header">
                <div id="logo">
                    <a href="/plan.html"><img src="/images/memoricide.png" alt="Special plan for this world" /></a>
                </div>
                <div id="navigation">
                    /<a href="/">home</a>/<a href="/me.html">jonn</a>/<a href="/posts.html">posts/</a>
                </div>
            </div>

            <div id="content">
                <h1>$title$</h1>

                $body$
            </div>
            <div id="footer">
                <div><a href="/atom.xml">subscribe</a></div>
                <div><small>
		    <a href="http://jaspervdj.be/hakyll">
			powered by hakyll
		    </a>
		</small></div>
            </div>
        </div>
    </body>
</html>
